# Load Libraries

In [34]:
# Load libraries
import numpy as np
import pandas as pd
from sklearn.datasets import make_classification, make_regression
import os

# Create Dataset

In [192]:
# Create dataframe
pizza_data = pd.DataFrame()

In [193]:
# ID number
pizza_data['cust_id'] = [i for i in range(1,4001)]

In [194]:
# Random assignment of site version with 50/50 odds
np.random.seed(2)
pizza_data['condition'] = np.random.choice([0,1], size=len(pizza_data), p=[0.5,0.5])

In [195]:
# Site visit converted to order
np.random.seed(2)
pizza_data['order_conv'] = np.where(
    pizza_data['condition'] == 1,
    np.random.choice([0,1], size=len(pizza_data), p=[0.3,0.7]),
    np.random.choice([0,1], size=len(pizza_data), p=[0.7,0.3]))

In [196]:
# Number of items ordered if purchase was made, otherwise 0
np.random.seed(2)
pizza_data['num_item'] = np.where(
    pizza_data['order_conv'] == 1,
    np.random.randint(1, 14, size=len(pizza_data)),  # Fixed randint
    0
)

In [197]:
# Order total with right skew if made a purchase
np.random.seed(2)
pizza_data['order_total'] = np.where(
    pizza_data['order_conv'] == 1,
    np.round(np.random.exponential(15, size=len(pizza_data)),decimals=2),
    0.00)

In [198]:
# Time spend on site
np.random.seed(2)
pizza_data['session_duration'] = np.where(
    pizza_data['order_conv'] == 1,
    np.round(np.random.exponential(3, size=len(pizza_data)),decimals=2),
    np.round(np.random.exponential(8, size=len(pizza_data)),decimals=2))

# View Data

In [199]:
# View data
pizza_data.head(10)

   cust_id  condition  order_conv  num_item  order_total  session_duration
0        1          0           1         9         8.59              1.72
1        2          0           0         0         0.00              9.44
2        3          1           1         7        11.97              2.39
3        4          0           0         0         0.00              1.29
4        5          0           0         0         0.00              5.23
5        6          0           0         0         0.00              5.43
6        7          0           0         0         0.00              5.12
7        8          1           1         8        14.49              2.90
8        9          0           1         3         5.34              1.07
9       10          0           1         2         4.66              0.93

# Save Data

In [200]:
# Create path to data directory
data_path = os.path.join('..', 'data', 'raw')

# Save data
pizza_data.to_csv(os.path.join(data_path, 'pizza_data.csv'), index=False)